<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${goal.name}" class="form-control">
        </label>
        <p class="error" th:errors="${goal.name}"></p>
    </div>
    <div class="form-group">
        <label>Current Score (1-10)
            <input th:field="${goal.score}" class="form-control">
        </label>
        <p class="error" th:errors="${goal.score}"></p>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>

</body>
</html>
