<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Starting Date:
            <input type = "date" th:field="${goal.date}" class="form-control">
        </label>
        <p class="error" th:errors="${goal.date}"></p>
    </div>
    <div class="form-group">
        <label>Name
            <input th:field="${goal.name}" class="form-control">
        </label>
        <p class="error" th:errors="${goal.name}"></p>
    </div>
    <div class="form-group">
        <label>Current Score (1-10)
            <input type = "number" th:field="${goal.scoreStart}" class="form-control">
        </label>
        <p class="error" th:errors="${goal.scoreStart}"></p>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>

</body>
</html>
