<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>
<div th:if="${!taps.isEmpty()}">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Score</th>
        </tr>
        </thead>
        <tr th:each="tap : ${taps}">
            <td th:text="${tap.date}"></td>
            <td th:text="${tap.score}"></td>
        </tr>
        <thead>
        <tr>
            <th>Average:</th>
            <th th:text="${goal.getAverageScore(goal)}"></th>
        </tr>
        </thead>
    </table>
</div>

</body>
</html>