<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">


<header th:replace="fragments :: header"></header>

</body>
<div class = "container">
    <h1 class = "text-center">Welcome to Tap In: <small class="text-muted">A <abbr title="Cognative Behavioral Therapy">CBT</abbr>-inspired wellness app</small> </h1>
    <dl>
        <dt>Goals</dt>
            <dd>To begin, create some goals that you'd like to keep track of and assign them a current "score".</dd>
        <dt>Tapping In</dt>
            <dd>Once your goals are set, "Tap In" as frequently or infrequently as you'd like to chart your progress</dd>
    </dl>

<!--    <p>To begin, create some goals that you'd like to keep track of and assign them a current "score".</p>-->
<!--    <p>Think of the initial score as being how close you are to achieving that goal</p>-->
<!--    <p>If you're stressed about the numbers, don't worry! It's ok if you're not precise. </p>-->
<!--    <p>Once your goals are set, "Tap In" as frequently or infrequently as you'd like to chart your progress</p>-->
</div>
</html>