<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <input type="hidden" th:field="${goal.id}">
    <div class="form-group">
        <label>Today's Tap In:
            <input type="number" th:field="${goal.tap}" class="form-control">
        </label>
        <p class="error" th:errors="${goal.tap}"></p>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>

</body>
</html>
