<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <input type="hidden" th:field="${tapGoal.goal}">
    <div class="form-group">
        <label>Date:
            <input type = "date" th:field="${tapGoal.tap.date}" class="form-control">
        </label>
        <p class="error" th:errors="${tapGoal.tap.date}"></p>
    </div>
    <div class="form-group">
        <label>Score:
            <input type = "number" th:field="${tapGoal.tap.score}" class="form-control">
        </label>
        <p class="error" th:errors="${tapGoal.tap.score}"></p>
    </div>
    <input type="submit" value="Tap In" class="btn btn-primary">
</form>

</body>
</html>
